#pie {
  width: 0px;
  height: 5px;
  border-radius: 50%;
  border:  100px solid gold;
  border-color:  transparent;
  border-top-color:  gold;
  border-bottom-color:  gold;

  border-width: 20px;
  border-bottom-width: 80px;

  text-align: center;
}


#demo {
  display:  flex;
  justify-content: center;
  align-items: center;
  min-height:  30vh;
}
body {
  font-family: sans-serif;
}
