#box {
  width: 300px;
  /*height: 100px;*/
  border-radius: 50px;
  background: gold;

  text-align: center;
  line-height:  80px;
}


#demo {
  display:  flex;
  justify-content: center;
  align-items: center;
  min-height:  30vh;
}
body {
  font-family: sans-serif;
}
