#box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: gold radial-gradient(circle at top, yellow, gold);
}


#demo {
  display:  flex;
  justify-content: center;
  align-items: center;
  min-height:  30vh;
}
body {
  font-family: sans-serif;
}
